<% include partials/camp_header.ejs%>
<script src="/scripts/campInfo_detail.js"></script>
<div class="container">
<div class="row">
<div class="col-md-3">
 <p class="lead">CampInfo</p>
 <div class="list-group">
 <li class="list-group-item active">Info 1</li>
 <li class="list-group-item">Info 2</li>
 <li class="list-group-item">Info 3</li>
 </div>
 </div>
 <div class="col-md-9">
 <div class="thumbnail">
<img class="img-responesive" src=<%=c.image%> >
 <div class="caption-full">
<div>
<span class="myHeader"><%= c.name%></span>
<span class="mySmall">  Discovered by <%= c.author.username%></span>
<span class="pull-right">
<div id="campPrice" class="textAlignRight">$9.0/night</div>
<% if(currentUser&&c.author.id.equals(currentUser.id) ){ %>
<button type="button" class="btn btn-sm btn-success" id="btn-edit">Edit</button>
<form class="btnInGroup" action=<%= "/campDetails/"+c._id+"/Destroy"+"?_methodOR=DELETE"%>  method="POST"><!--_methodOR must method="POST"-->
<button class="btn btn-sm btn-danger ">Delete</button></form>
<%}%>
</span>

</div>

 

 </div>
 <div class="myDescription"><div>Description:<%= c.description%></div></div>
 </div>
 <div id="form-edit" class="panel panel-success">
<div class="panel-heading"><h3 class="panel-title">Edit Camps</h3></div>
<div class="panel-body">
<form action=<%= "/campDetails/"+c._id+"/Update"+"?_methodOR=PUT"%> method="POST">
<div class="form-group" ><input class="form-control" type="text" name="camp[name]" value=<%= c.name%>></div>
<div class="form-group" ><input class="form-control" type="text" name="camp[image]" value=<%=c.image%>></div>
<div class="form-group" ><textarea class="form-control" name="camp[description]"><%= c.description%></textarea></div>
<div class="form-group" ><button class="btn btn-lg btn-primary btn-block">Submit</button></div>
</form>
</div>
</div>
 <div   class="testDivs well">
 <div id="btnComDiv"  ><button  id="btnComVisb" class="btn  btn-success pull-right btn-block">Add Comment</button></div>
<div id="formComDiv">
<form  id="commentIuputForm" class="" action=<%= "/campDetails/"+c._id+"/newComment"%> method="POST">
<div class="form-group" ><input class="form-control" type="text" name="content" placeholder="content"></div>
<div class="form-group" ><button class="btn btn-lg btn-primary btn-block">Submit</button></div>
</form></div>
<div id="commentDiv"class="testDiv">
<% var cmt_id=0; c.comments.forEach(function(cmt){%>
<div class="row mySingleCmtRow" id=<%="cmt_"+cmt_id %> >
<div class="col-md-12">
        <div class="commentHeader"><strong class="commentAuthor"><%= cmt.author.username%></strong><span class="pull-right">
        <div  class="textAlignRight">10 days ago</div>
        <% if(currentUser&&cmt.author.id.equals(currentUser.id)){ %>
        <div class="cmtButtonGroup">
        <button class="btn btn-xs btn-success btnEdit" >Edit</button>
        <form class="btnInGroup" action=<%= "/campDetails/"+c._id+"/destroyComment/" +cmt._id+ "?_methodOR=DELETE"%>  method="POST"><!--_methodOR must method="POST"-->
        <button class="btn btn-xs btn-danger btnDelete">Delete</button></form>
        </div>
        <%}%>
        </span>
        </div>
        <div><p><%= cmt.content%></p></div>
        <div class="formComEditDiv">
        <h5>Edit Comment Content</h5>
        <form  class="" action=<%= "/campDetails/"+c._id+"/updateComment/" +cmt._id+"?_methodOR=PUT"    %> method="POST">
      <div class="" ><textarea name="content" ><%= cmt.content%></textarea></div>
      <div class="" ><button class="btn btn-sm btn-primary btn-block">Submit</button></div>
      </form>
      </div>
</div>
</div>
<hr>
<% cmt_id++;});%>

</div>

<div>
 
 </div>
</div>


</div>
<div class="container">
<a href="/campSets"><h5>Go back</h5></a>
</div>
<% include partials/camp_footer.ejs %>